.Slider-First-Container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size:large;
    font-weight: lighter;
        font-family: 'poppins';
    width: 450px;
    height:300px;
    box-shadow: 5px 5px rgba($color: grey, $alpha: 0.05);
    margin-bottom: 20px;
    @media (max-width:800px) {
        width: 200px;
        height: 200px;
        gap: 15px;
        font-size:x-small;
        font-family: 'poppins';
    }
    
}.Slide-Profile-Image{
    display: flex;
    gap: 10px;
    align-items: center;
}.Slide-Rating-Profile{
    display: flex;
    color: #FFAA00;
}.Slider-Name-Container{
    border-top:1px solid  whitesmoke ;
    display: flex;
    flex-direction: column;
}.Slider-First-Container{
    
    :hover{
        box-shadow: 5px 5px rgba($color: blue, $alpha: 0.05);
    }
}.slider-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins';
    padding: 5%;
    @media (max-width:800px) {
        margin-bottom: 10%;
    }
    span{
        font-size: xx-large;
        font-weight: bolder;
    }
}